{{outlet}}
<p>Welcome to the dojo! I, Shiodin, will be your personal teacher!</p>
<p>Together we will work to achieve your goals and set you on the path to victory!</p>
<p>But first my student, I must ask you some questions to better understand your needs...</p>
{{#link-to 'index'}}Next{{/link-to}}
